streamlit
opencv-python-headless
scikit-image
pillow
numpy
pandas
fuzzywuzzy
python-Levenshtein
PyMuPDF
python-docx
opencv-python 
opencv-contrib-python 
opencv-python
RUN apt-get update && apt-get install ffmpeg libsm6 libxext6  -y

